{
	order mwcache before rewrite
}
http://127.0.0.1:8080 http://http:8080 http://localhost:8080
root * /srv/femiwiki.com
php_fastcgi fastcgi:9000
file_server
encode gzip
mwcache {
	ristretto {
		num_counters 100000
		max_cost 10000
		buffer_items 64
	}
	purge_acl {
		172.0.0.0/8
		10.0.0.0/8
	}
}
header {
	# Enable XSS filtering for legacy browsers
	X-XSS-Protection "1; mode=block"
	# Block content sniffing, and enable Cross-Origin Read Blocking
	X-Content-Type-Options "nosniff"
	# Avoid clickjacking
	X-Frame-Options "DENY"
}

rewrite /w/api.php /api.php
rewrite /w/* /index.php
