# secret
/development/secret.php
/development/LocalSettings.php
/development/Hotfix.php
/development/analytics-credentials-file.json

# Composer
/vendor

# npm dependencies
/node_modules/
yarn-error.log
