# secret
/dockers/femiwiki/development/secret.php
/dockers/femiwiki/development/LocalSettings.php
/dockers/femiwiki/development/Hotfix.php
/dockers/femiwiki/development/analytics-credentials-file.json

# Composer
/vendor

# npm dependencies
/node_modules/
yarn-error.log

# Ruby
/extension-installer/vendor
