# tweetbot
TWITTER_CONSUMER_KEY=xxxxxxxx
TWITTER_CONSUMER_SECRET=xxxxxxxx
TWITTER_ACCESS_TOKEN=xxxxxxxx
TWITTER_ACCESS_TOKEN_SECRET=xxxxxxxx
WIKI_PASSWORD=xxxxxxxx

# rankingbot
RANKINGBOT_PASSWORD=xxxxxxxx
