(common) {
  gzip

  # Strict security headers
  header / {
    # Enable HSTS. https://mdn.io/HSTS
    Strict-Transport-Security "max-age=15768000"
    # Enable stricter XSS protection. https://mdn.io/X-XSS-Protection
    X-XSS-Protection "1; mode=block"
    # Prevent MIME-sniffing. https://mdn.io/X-Content-Type-Options
    X-Content-Type-Options "nosniff"
    # Prevent clickjacking. https://mdn.io/X-Frame-Options
    X-Frame-Options "DENY"
  }

  log stdout
}

parsoid.femiwiki.com, :80 {
  import common
  proxy / parsoid:8000 {
    transparent
  }
}
