0 1,5,9,13,17,21 * * * /usr/local/bin/generate-sitemap >> /var/log/cron.log 2>&1
2 5 */7 * * /usr/local/bin/localisation-update >> /var/log/cron.log 2>&1
1 5 */3 * * /usr/local/bin/update-special-pages >> /var/log/cron.log 2>&1
* * * * * /usr/local/bin/run-jobs
