[Unit]
Description=Extension:LocalisationUpdate's update.php maintenance script
Wants=localisation-update.timer

[Service]
Type=oneshot
User=www-data
Group=www-data
ExecStart=/usr/local/bin/localisation-update

[Install]
WantedBy=multi-user.target
