<?php

# 개발자모드를 끄려면 아래 라인을 주석처리하세요
const DEBUG_MODE = 'localhost';

# Database settings
$wgDBuser = 'DB_USERNAME';
$wgDBpassword = 'DB_PASSWORD';

# RESTBase settings
# $wgRESTBaseCassandraServer = 'CASSANDRA_HOSTNAME';
# $wgRESTBaseCassandraUser = 'CASSANDRA_USERNAME';
# $wgRESTBaseCassandraPassword = 'CASSANDRA_PASSWORD';

# SMTP Password
$wgSMTP['password'] = 'SMTP_PASSWORD';

# Email bounce handler
$wgBounceHandlerInternalIPs = [ '127.0.0.1' ];

# reCAPTCHA keys
$wgReCaptchaSiteKey = 'your public/site key here';
$wgReCaptchaSecretKey = 'your private key here';

# Google Analytics Tracking ID
$wgGoogleAnalyticsTrackingID = 'UA-00000000-1';

# Firebase key for Femiwiki skin
$wgFemiwikiFirebaseKey = 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX';

# Femiwiki App ID for Femiwiki skin
$wgFemiwikiFacebookAppId = '1937597133150935';

# DiscordNotifications
$wgDiscordIncomingWebhookUrl = "";

# Site secret key
$wgSecretKey = 'SECRET_KEY';
# Site upgrade key. Must be set to a string (default provided) to turn on the
# web installer while LocalSettings.php is in place
$wgUpgradeKey = 'UPGRADE_KEY';

#
# Maintenance
#
## 점검이 끝나면 아래 라인 주석처리한 뒤, 아래 문서 내용을 비우면 됨
## https://femiwiki.com/w/%EB%AF%B8%EB%94%94%EC%96%B4%EC%9C%84%ED%82%A4:Sitenotice
# $wgReadOnly = '데이터베이스 업그레이드 작업이 진행 중입니다. 작업이 진행되는 동안 사이트 이용이 제한됩니다.';

## 업로드를 막고싶을때엔 아래 라인 주석 해제하면 됨
# $wgEnableUploads = false;
