<?php

// Database settings
$wgDBserver = getenv( 'NOMAD_UPSTREAM_ADDR_mysql' ) ?: 'mysql';
$wgDBuser = 'DB_USERNAME';
$wgDBpassword = 'DB_PASSWORD';

// SMTP Password
$wgSMTP['password'] = 'SMTP_PASSWORD';

// Email bounce handler
$wgBounceHandlerInternalIPs = [ '127.0.0.1' ];

// LocalisationUpdate options for HTTP Basic Authentication
$wgLocalisationUpdateHttpRequestOptions['username'] = 'femiwiki-bot';
$wgLocalisationUpdateHttpRequestOptions['password'] = 'GITHUB_TOKEN';

// reCAPTCHA keys
$wgReCaptchaSiteKey = 'your public/site key here';
$wgReCaptchaSecretKey = 'your private key here';

// Firebase key for Femiwiki skin
$wgFemiwikiFirebaseKey = 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX';

// DiscordRCFeed
$wgRCFeeds['discord']['url'] = 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX';

// Site secret key
$wgSecretKey = 'SECRET_KEY';
// Site upgrade key. Must be set to a string (default provided) to turn on the
// web installer while LocalSettings.php is in place
$wgUpgradeKey = 'UPGRADE_KEY';
