@import "variables.less";

#jquery-foot-hovzer,
#jquery-foot-hovzer-spacer {
  display: none;
}

* {
  box-sizing: border-box;

  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

html {
  font-size: 16.5px;
  line-height: 1.9;
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', '본고딕', 'Noto Sans CJK KR', 'KoPubDotum Medium', '나눔바른고딕', '나눔고딕', NanumGothic, '맑은고딕', 'Malgun Gothic', Arial, Dotum, sans-serif;
  font-weight: normal;
  color: #252525;
}

body {
  margin: 0;
  padding: 0;
}

:focus {
  outline: none;
}

::selection {
  background-color: #c3bffd;
}

a {
  color: #5144A3;
}

a:visited {
  color: #5144A3;
}

a.external {
  color: #5144A3;
}

a.new {
  color: #c0081f;
}

// Pre
pre {
font-family: inherit;
border: none;
background-color: #f0f0f0;
}

input:focus {
  outline: 1px solid #474186;
}

input,
input[type="search"],
select {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid #888;
  line-height: 1.4;
  font-size: 1rem;
}

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  top: 3px;
  width: 1rem;
  height: 1rem;
}

input:checked {
  background-color: #4f4b93;
}

input[type="text"],
input[type="password"],
select {
  padding: 0.1rem 0.2rem;
  height: 1.8rem;
  line-height: 1.4rem;
}

button,
input[type="submit"],
input[type="reset"] {
  border-width: 0;
  font-weight: normal;
  padding: 0.2rem 0.5rem;
}

#content .btn,
#content .btn:hover,
#content .btn:visited,
.btn,
.btn:hover,
.btn:visited,
input[type="submit"],
button {
  padding: 0.2rem 0.5rem;
  color: #FFF;
  background-color: #aca7e2;
  text-decoration: none;
  cursor: pointer;
}

#p-navigation-and-watch {
  max-width: 50rem;
  padding: 0 1.3rem;
  margin: 2.3rem auto 0.5rem;
  overflow:hidden;
  clear:both;
  font-size:0.75rem;

  h3 {
    display: none;
  }

  div, ul, li {
    margin: 0;
    display: block;
    overflow:hidden;
  }

  #siteNotice {
    font-size: 0.8rem;
    color: #000;
    margin: 0 0 4rem;
    padding: 0rem 0.8rem;
    border: 2px solid #aca8e0;

    p {
      margin: 1.6rem 0;
    }
  }

  #p-namespaces {
    float:left;
    margin-right: 0.5rem;
    ul {
      float:left;
      li {
        display: block;
        float:left;
      }
      li.selected {
        display: none;
      }
      li > a:after {
        content:" 보기";
      }
    }
  }

  #ca-watch, #p-watch {
    float:left;
  }
}

#content #p-header {

  #p-title-and-tb{

    #p-actions-and-toolbox {
      display: none;
      clear:right;
      text-align: right;
      overflow:hidden;
      border-bottom: 1px solid #aca6e4;

      #p-actions, #p-page-tb, #p-share-tb, #p-site-tb {
        float:right;
        min-width: 8.8rem;
        margin: 0.6rem 0.8rem 0.6rem 0;
        display: inline-block;
        vertical-align: top;
        text-align: left;
        h3 {
          margin:0;
          font-weight: normal;
          font-size: 1rem;
          border-bottom: 1px solid #b9b5d9;
          margin-bottom: 0.4rem;
        }

        ul {
          padding: 0;
          margin: 0;
        }

        li {
          list-style-type: none;
          margin: 0;
        }

        a {
          display: block;
        }
      }

      div + div {
        margin-right:1em;
      }
    }

    h1.firstHeading {
      font-size: 1.714rem;
      margin-bottom: 0;
      display: inline-block;
      margin-top: 0;
    }
    #p-title-buttons {
      float: right;
      margin: 0;
      padding: 0;

      .p-title-button {
        display: inline-block;
        float:right;
        margin: .4em;
      }

      .p-title-button:first-child {
        margin-right: 0em;
      }
    }

    .fw-icon {
      min-width: 1.5em;
      min-height: 1.5em;
    }

    .fw-icon:before {
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 100% auto;
      float: left;
      display: block;
      min-width: 1.5em;
      min-height: 1.5em;
      content: '';
    }

    .fw-icon-ellipsis:before {
        background-image: url("/resources/lib/oojs-ui/themes/wikimediaui/images/icons/ellipsis.png");
    }

    .fw-icon-share:before {
        background-image: url("images/icon-share.png");
    }
  }
  #lastmod-and-views {
    font-size:0.75rem;
    overflow:hidden;
    clear:both;

    #p-views {
      h3 {
        display: none;
      }

      ul {
        padding: 0;
        margin: 0;
        li {
          margin: 0;
          display: block;
        }
        li.selected a {
          font-weight: bold;
        }
      }

      li#ca-view.selected {
        display: none;
      }
    }


    #p-views {
      float:right;
      li{
        float:left;
      }
      li + li {
        margin-left:1em;
      }
    }
    #lastmod {
      font-size:0.8rem;
    }
  }
}

// Content
#content {
  position: relative;

  padding: 0 1.3rem;
  max-width: 50rem;
  margin: 0 auto;

  .mw-indicators {
    float: right;
  }


  #mw-notification-area {
    width: auto;
    max-width: 16rem;
    top: -2.3rem;
    padding: 0;
    font-size: 0.75rem;
    line-height: inherit;
    cursor: pointer;

    .mw-notification {
      border: solid 1px #b2d236;
      background-color: #dae8b2;
    }
  }

  // Headings
  h1, h2, h3, h4, h5, h6 {
    position: relative;
    margin: 3.8rem 0 1.6rem;
    padding: 0;
    border-bottom: 0;
    font-weight: normal;
    color: #252525;
  }
  h2 {
    font-size: 1.429rem;
  }
  h3 {
    font-size: 1.143rem;
  }
  h4, h5, h6 {
    font-size: 1rem;
  }
  h1 ~ h2,
  h2 ~ h3,
  h3 ~ h4,
  h4 ~ h5,
  h5 ~ h6 {
    margin-top: 1.6rem;
  }

  .tocnumber:after,
  .mw-headline-number:after {
    content: ".";
  }

  // Paragraph
  #mw-content-text {
    clear:both;
    margin-bottom: 4.8rem;
  }
  #mw-content-text > p:first-child {
    margin-top: 2.8rem;
  }

  p {
    margin: 1.6rem 0;
  }

  // word breaks
  p, h1, h2, h3, h4, h5, h6, blockquote, li {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }

  // Lists
  ol, ul {
    margin: 1.6rem 0 1.6rem;
    padding-left: 1.2rem;
  }
  ul li {
    list-style-type: disc;
  }
  li {
    margin-bottom: 0.5rem;
  }
  li ul,
  li ol {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  dl {
    margin: 1.6rem 0 1.6rem;
    padding-left: 0.5rem;
  }
  dt:not(first-child) {
    margin-top: 1em;
  }
  dd {
    margin-left: 0.6em;
  }

  // Quote
  blockquote {
    margin: 1.6rem 1rem 1.6rem 1.2rem;
    position: relative;
  }
  blockquote::before {
    content: "\201C"; /*Unicode for Left Double Quote*/

    /*Font*/
    font-family: Georgia, serif;
    font-size: 2rem;
    font-weight: bold;
    color: #999;

    /*Positioning*/
    position: absolute;
    left: -1.3rem;
    top: -1rem;
  }

  // Links
  a.external {
    color: #5144A3;
    /* @embed */
    background: url("images/icon_external_link.png") top right no-repeat;
    background-size: 8px 8px;
    padding-right: 0.6rem;
  }
  a.new {
    color: #c0081f;
  }

  // Embed
  .embedvideowrap {
    margin: 0 auto;
  }

  // Inlines
  b {
    font-weight: bold;
  }

  // Image
  .thumb {
    max-width: 100%;
  }

  .thumbinner {
    max-width: 100%;
  }

  .image img {
    max-width: 100%;
    height: auto;
  }

  #file img {
    max-width: 100%;
    height: auto;
  }

  // Gallery
  .mw-gallery-traditional {
    overflow-x: scroll;
    white-space: nowrap;
    padding: 0 1.3rem;
    text-align: center;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 3.2rem;
  }

  .mw-gallery-traditional .gallerytext > p {
    white-space: normal;
    margin: 0;
    text-align: center;
  }
    
  .mw-gallery-traditional .thumb {
    margin: 0;
    border: none;
    background-color: initial;
  }

  .mw-gallery-traditional::after {
    content: "옆으로 스크롤 가능";
    display: block;
    position: absolute;
    text-align: center;
    font-size: 0.8rem;
    width: ~"calc(100% - 2.6rem)";
    color: gray;
    margin-top: 1.6rem;
  }

  & > br:first-child,
  & > br:last-child {
    display: none;
  }

  ol.references {
    font-size: 0.9em;

    li {
      margin-bottom: 0.2rem;
    }
  }

  // Table of contents
  #toc {
    margin: 3.2rem 0;
    padding: 0;
    border: 0;
    background-color: inherit;
    line-height: 1.6;

    .toctitle {
      text-align: left;
      h2 {
        font-size: 1rem;
      }
    }
    .toctoggle {
      display: none;
    }

    ul {
      margin: 0;
    }
    li {
      list-style-type: none;
    }
    li.toclevel-1 {
      margin-top: 1rem;
      font-weight: bold;
    }
    li.toclevel-2,
    li.toclevel-3 {
      font-weight: normal;
      margin-left: 1rem;
    }
  }

  // TOC
  #toc::before {
    display: block;
    content: " ";
    width: 1.2rem;
    border-bottom: 2px solid #8981d3;
    margin-bottom: 0.5rem;
  }
  #toc::after {
    display: block;
    content: " ";
    width: 1.2rem;
    border-top: 2px solid #8981d3;
    margin-top: 0.5rem;
  }

  // Edit links
  .mw-editsection {
    float: right;
    line-height: inherit;
    font-size: inherit;
    padding: inherit;
    margin-left: 0;

    .mw-editsection-bracket {
      display: none;
    }

    .mw-editsection-divider {
      display: none;
    }

    a {
      font-size: 0.75rem;
      margin-left: 1em;
    }
  }

  h4 > .mw-editsection,
  h5 > .mw-editsection,
  h6 > .mw-editsection {
    display: none;
  }

  // Break very long mathjax expression
  .mathjax-wrapper {
    display: inline-block;
    vertical-align: middle;
  }

  // Hide femiwiki category
  .fw-catlinks {
    display: none;
  }
  .catlinks, .fw-catlinks {
    padding: 0;
    border-width: 0;
    background-color: transparent;

    ul {
      display: inline;
      margin: 0;
    }

    li {
      display: inline;
      border-width: 0;
      margin: 0;
      padding: 0;
      font-size: inherit;
      line-height: inherit;
    }

    li:not(:first-child):before {
      content: "|";
      margin: 0 0.3rem;
    }
    .fw-catlinks-toggle {
      float:right;
      font-size:.7rem;
      color:#797979;
      background-color: transparent;
    }
  }

  .patrollink {
    font-size: inherit;
  }

  .mw-category-generated {
    #mw-subcategories ul,
    #mw-pages .mw-category-group ul {
      -webkit-columns: 16em 2;
      -moz-columns: 16em 2;
      columns: 16em 2;

      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

// Discussion
// Do not make the layout more compact on Talk (ns-1) and User_Talk (ns-3)
body.ns-1,
body.ns-3 {
  div#content.mw-body {
    margin-right: auto;
    padding: 0 1.3rem;
  }
}

.flow-board {
  padding-right: 0px;
}

// Footer
#mw-footer {
  padding: 0.4rem 1.3rem 0;

  max-width: 50rem;
  margin: 0 auto 3.2rem;

  ul {
    margin: 0;
    li {
      list-style-type: none;
    }
  }

  #mw-footer-bar {
    border-top: 1px solid #b9b5d9;
    padding-top: 0.8rem;
  }

  #fw-footer-menu,
  #footer-places {
    li {
      display: inline;
    }
    li::after {
      content: "|";
      margin: 0 0.3rem;
    }
    li:last-child::after {
      content: "";
    }
  }

  #footer-info-lastmod {
    margin-bottom: 1.6rem;
  }
  #footer-info-copyright {
  }

  #footer-icons {
    display: none;
  }

  #footer-info-copyright,
  #footer-places {
    font-size: 0.714rem;
  }
}

// Preferences
ul#preftoc {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

#mw-prefs-form {
  .prefsection {
    border-width: 0;
    padding: 0;
    margin: 0;
    & > legend {
      display: none;
    }
    @media screen and (max-width: 480px) {
      .mw-input {
        word-break: break-all;
        input,
        select {
          width: 100%;
        }
        input[type="checkbox"],
        input[type="radio"] {
          width: 1rem;
        }
      }
    }
  }
}

// Source Editor
body.action-edit {
  #content .mw-editsection {
    display: none;
  }

  #siteNotice {
    display: none;
  }

  .diff-addedline {
    background-color: #d9ecfe;
  }

  .diff-deletedline {
    background-color: #feedca;
  }

  .diffchange.diffchange-inline {
    font-weight: bold;
  }

  .wikiEditor-ui-buttons > button {
    display: none;
  }

  // Show femiwiki category
  #content .fw-catlinks {
    display: block;
  }
}

// Source Editor
body.action-submit #content .fw-catlinks {
  display: block;
}

// VisualEditor
#content .ve-init-mw-desktopArticleTarget-toolbar, #content .ve-init-mw-desktopArticleTarget-toolbarPlaceholder {
  margin: 0;
}


html.ve-active {
  #siteNotice {
    display: none;
  }

  #content {
    .mw-editsection {
      display: none;
    }

    // Remove margin of generated elements
    li > p.ve-ce-generated-wrapper {
      margin: 0;
    }

    // Remove padding of visual editor
    .ve-ce-documentNode {
      padding: 0;
    }

    // Show femiwiki category
    .fw-catlinks {
      display: block;
    }
  }

  .oo-ui-toolbar-bar * {
    box-sizing: content-box;
  }

  .oo-ui-toolbar {
    font-size: 12px;
  }
}

// Search
#content .mw-search-results {
  max-width: 100%;
  div.searchresult {
    width: inherit;
    max-width: 38em;
  }
}

#content #mw-search-top-table {
  #searchText {
    input {
      box-sizing: border-box;
    }
  }
}
#content .mw-search-profile-tabs {
  font-size: 14px;

  div.search-types {
    ul {
      margin: 0;
      list-style-type: none;
    }

    ul li {
      list-style-type: none;

      a {
        padding: 0.2rem 0.3rem;
      }
    }
    ul li.current {
      font-weight: bold;
    }
  }
}

#powersearch {
  font-size: 14px;

  fieldset#mw-searchoptions table {
    width: 100%;
    margin-bottom: 0.5rem;

    td {
      width: 50%;
    }
  }
}

@media screen and (max-width: 360px) {
  html {
    font-size: 16px;
  }

  #content,
  #mw-footer {
    padding-left: 0.85rem;
    padding-right: 0.85rem;
  }

  body.ns-1,
  body.ns-3 {
    div#content.mw-body {
      padding-left: 0.85rem;
      padding-right: 0.85rem;
    }
  }
}

@media screen and (max-width: 480px) {
  // Content
  #content {
    pre,
    .mw-gallery-traditional,
    .mw-changeslist div,
    .flow-topic-titlebar
    {
      width: ~"calc(100% + 2.6rem)";
      margin-left: -1.3rem;
    }
    
    .mw-changeslist table {
      padding: 0 1.3rem;
    }
    
    .flow-topic-titlebar {
      padding-left: 1.3rem;
    }
    .thumb {
      float: none;
      margin: 1rem auto;

      .thumbinner {
        margin: 0 auto;
        border: none;
        background-color: initial;
      }

      .thumbinner .thumbimage {
        border: none;
      }
      
      .thumbcaption {
        color: gray;
        text-align: center;
      }
    }
  }

  // Wiki Editor
  body.action-edit {
    #content {
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
    }

    .nav-bar,
    .mw-indicators,
    #p-navigation-and-watch,
    #p-title-and-tb,
    #lastmod-and-views,
    #contentSub,
    .mw-newarticletext,
    .mw-warning-with-logexcerpt,
    #wikiPreview,
    .firstHeading,
    #mw-footer,
    #wpPreview,
    .hiddencats,
    #wpDiff {
      display: none;
    }

    #editform {
      font-size: 14px;

      .wikiEditor-ui-top,
      .mw-editTools,
      .templatesUsed {
        display: none;
      }
      .wikiEditor-ui-buttons {
        margin-right: 0;
      }

      .wikiEditor-ui textarea {
        padding: 0.5rem;
        height: 19rem;
        font-size: 1rem;
        -webkit-overflow-scrolling: touch;
      }

      .wikiEditor-ui-tabs div a {
        padding: 0 0.5em;
      }
    }

    #wpSummary {
      display: inline;
      border: 1px solid #c0c0c0;
      font-size: 1rem;
    }

    #editpage-copywarn {
      margin: 1rem 0;

      p {
        margin: 0;
        font-size: 12px;
        line-height: 1.3;
      }
    }

    .editOptions {
      margin-bottom: 0;
      padding: 1rem 0.5rem;
      background-color: transparent;
      border-width: 0;
    }
  }

  // VisualEditor
  html.ve-active {
    #content {
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
    .ve-init-mw-desktopArticleTarget-originalContent,
    .mw-body-content {
      padding: 0 0.785rem;
    }

    .nav-bar,
    #mw-footer {
      display: none;
    }

    .oo-ui-toolbar-tools {
      z-index: 1;
    }
  }

  html.ve-active, div.flow-board, .oo-ui-window-frame {
    
    div.oo-ui-popupWidget-popup {
      min-width: 16rem;
      min-height: 10rem;
    }
    div.oo-ui-menuLayout-menu {
      width:3rem;
    }
    div.oo-ui-menuLayout-content {
      left:3rem;
    }
  }
}

@media screen and (min-width: 640px) {
  #content {
    .two-cols {
      & > * {
        width: 50%;
        float: left;
      }
      & > *:nth-child(odd) {
        clear: both;
        padding-right: 1.4rem;
      }
      & > *:nth-child(even) {
        padding-left: 1.4rem;
      }
    }
    .two-cols:after {
      content: "";
      display: block;
      clear: both;
    }
  }
}
