@import "variables.less";


#content .flow-board-page {
  .flow-ui-newTopicWidget-title.oo-ui-textInputWidget input {
    font-size: 1em;
  }

  .flow-board {
    padding-right: 0px;
  }

  .flow-topic-titlebar {
    padding: 0.5em;
  }

  .flow-topic-title {
    font-weight: normal;
  }
}

#content li.ve-ce-branchNode > .ve-ce-paragraphNode {
  margin-top: 0;
  margin-bottom: 0;
}


@media screen and (max-width: 480px) {
  div.flow-board {
    .flow-topic-titlebar
    {
      width: ~"calc(100% + 2.6rem)";
      margin-left: -1.3rem;
    }
    div.oo-ui-popupWidget-popup {
      min-width: 16rem;
      min-height: 10rem;
    }
    div.oo-ui-menuLayout-menu {
      width:3rem;
    }
    div.oo-ui-menuLayout-content {
      left:3rem;
    }
  }
}