name: Submit a PR for bumping extension

on:
  repository_dispatch:
    types: [bump-extension]

  workflow_dispatch:
    inputs:
      ext:
        description: The name of extension or skin
        type: string

      ver:
        description: The version released
        type: string

jobs:
  bump-extension:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'

      - uses: actions/github-script@v8
        id: vars
        with:
          script: |
            return {
              ext: '${{github.event.client_payload.extension}}' || '${{github.event.inputs.ext}}',
              ver: '${{github.event.client_payload.version}}' || '${{github.event.inputs.ver}}',
            }

      - name: Update extensions.json
        run: ruby .github/bump_extension.rb '${{fromJSON(steps.vars.outputs.result).ext}}' '${{fromJSON(steps.vars.outputs.result).ver}}'

      - uses: peter-murray/workflow-application-token-action@v4
        if: ${{ github.repository_owner == 'femiwiki' && github.ref == 'refs/heads/main' }}
        id: get_workflow_token
        with:
          application_id: ${{ vars.PAT_APPLICATION_ID }}
          application_private_key: ${{ secrets.PAT_APPLICATION_PRIVATE_KEY }}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ steps.get_workflow_token.outputs.token }}
          commit-message: Bump ${{fromJSON(steps.vars.outputs.result).ext}} to ${{fromJSON(steps.vars.outputs.result).ver}}
          title: Bump ${{fromJSON(steps.vars.outputs.result).ext}} to ${{fromJSON(steps.vars.outputs.result).ver}}
          branch: bump-${{fromJSON(steps.vars.outputs.result).ext}}
